.contact-container {
    background-color: #ffffff;
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
    text-align: center; /* Centering text inside the container */
  }
  
  .contact-container h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #333333;
    margin-bottom: 1rem;
  }
  
  .jumbotron {
    background-color: #f8f9fa;
    color: #333333;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 1.75rem;
  }
  
  .form-group label {
    display: flex;
    margin-bottom: 0.75rem;
    font-weight: 600;
    color: #333333;
    font-size: 1.1rem;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--orange);
    border-radius: 4px;
    font-size: 1rem;
  }
  
  textarea {
    height: 200px;
    resize: vertical;
    line-height: 1.5;
  }
  
  button[type="submit"] {
    display: block;
    margin: 1.5rem auto 0;
    padding: 0.75rem 2rem;
    background-color: var(--orange);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: var(--darkGrey);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  