.header {
    display: flex;
    justify-content: space-between;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}

.header-menu > li {
    cursor: pointer;
}

.header-menu > li:hover {
    color: var(--orange);
    cursor: pointer;
}

.header-title {
    color: white; 
    font-size: 2rem; 
    text-decoration: none; 
}

.nav-link.logout-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

.nav-link.logout-btn:hover {
    background-color: darkred;
    cursor: pointer;
    text-decoration: none;
}

.navbar-collapse {
    transition: max-height 0.3s ease;
}

.navbar-collapse.show {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    width: auto; 
    text-align: center; 
    cursor: pointer; 
}

.nav-link {
    color: white;
    text-decoration: none; 
    display: block; 
    padding: 10px 0; 
    white-space: nowrap; 
}

.nav-link:hover {
    text-decoration: underline; 
    color: var(--orange);
}