.login-container {
    display: flex;
    align-items: center; /* Center items vertically */
    height: 100vh; /* Full viewport height */
    position: relative; /* Position relative for absolute positioning of Spline */
}

.login-form {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 1.5rem;
    border-radius: 0.25rem; /* rounded */
    width: 25%; /* Set width for the form */
    margin: 0 5% 0 20px; /* Add margin to the right and left */
    z-index: 1; /* Ensure form is above the Spline */
}

.spline-background {
    flex: 1; /* Allow Spline to take the remaining space */
    height: 100%; /* Full height to match the container */
    z-index: 0; /* Spline is the background */
    position: absolute; /* Position absolute to fill the container */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
}